.content-login {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-img {
  height: 10rem;
  width: 12rem;
  margin-bottom: 5rem;
}

.links {
  width: 22.5rem;
  align-items: flex-start;
  color: var(--primary-color);
  text-decoration: none;
}

/* .button-google {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  min-width: 22.5rem;
  border-radius: 0.6rem;
  border: solid 0.1rem;
  border-color: var(--primary-color);
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  align-items: center;
  padding: 0.6rem;
}

.button-google img {
  width: 2rem;
  height: 2rem;
  margin: 0rem;
}

.button-google span {
  font-size: 1rem;
  color: var(--primary-color);
} */