services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    ports:
      - "5173:5173"
    environment:
      - REACT_APP_API_URL=http://0.0.0.0:3000
