div {
  display: flex;
  flex-direction: column;
}

label {
  color: var(--primary-color);
}

input {
  margin-bottom: 0.75rem;
  height: 3rem;
  width: 22.5rem;
  border-radius: 0.6rem;
  border: solid 0.1rem;
  border-color: var(--primary-color);
  padding: 0.3rem;
}