.steps {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.message {
    color: gray;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 380px;
    text-align: center;
}

.message-participant {
    padding-bottom: calc(2 * var(--gap));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons-list {
    position: fixed;
    bottom: 2rem;
    padding: 1rem 2rem;
}

.buttons-list button {
    margin-bottom: calc(2 * var(--gap));
}

.delete-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid red;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}