.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-head {
  width: 398px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: calc(2 * var(--gap));
  padding-bottom: calc(10 * var(--gap));
}

.home-head h2 {
  padding-left: var(--gap);
}

.logo {
  height: 52px;
  width: 60px;
}

.img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: calc(8 * var(--gap));
}

.img-text img {
  max-width: 25rem;
}

.buttons-home {
  position: fixed;
  bottom: 2rem;
  padding: 1rem 2rem;
}

.buttons-home button {
  margin-bottom: calc(2 * var(--gap));
}

.message-home {
  font-size: 26px;
}