.logo {
  height: 52px;
  width: 60px;
}

.img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: calc(10 * var(--gap));
  padding-bottom: calc(10 * var(--gap));
}

.img-text img {
  max-width: 25rem;
}

.message-home {
  font-size: 26px;
}