/* styles.css */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulsing {
  animation: pulse 0.3s ease-in-out;
}

.button-accept {
  background: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  height: 49px;
  width: 358px;
  border: none;
}

