.global {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-img {
  height: 150px;
  width: 180px;
  margin-bottom: 80px;
}

.links {
  width: 358px;
  align-items: flex-start;
  color: var(--primary-color);
  text-decoration: none;
}

.button-google {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 49px;
  min-width: 358px;
  border-radius: 10px;
  border: solid 1px;
  border-color: var(--primary-color);
  margin-top: 4px;
  margin-bottom: 16px;
  align-items: center;
  padding: 10px;
}

.button-google img {
  width: 30px;
  height: 30px;
  margin: 0px;
}

.button-google span {
  font-size: 16px;
  color: var(--primary-color);
}