.steps {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.message {
    color: gray;
    padding: 15rem 1rem 20rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.message-participant {
    padding-bottom: calc(2 * var(--gap));
}

.buttons-list {
    position: fixed;
    bottom: 2rem;
    padding: 1rem 2rem;
}

.buttons-list button {
    margin-bottom: calc(2 * var(--gap));
}