.info-header {
    width: 358px;
    margin: var(--gap);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    gap: 6rem;
    text-align: center;
}

.message-info h3 {
    padding: 1rem;
}

.message-info p {
    text-align: center;
}